{% extends 'main/base/base.html' %}
{% load static %}

{% block content %}

<div class="u-s-p-y-60">
    <div class="section__content">
        <div class="container">
        </div>
    </div>
</div>


<div class="u-s-p-b-60">

    <div class="section__content">
        <div class="container">
            <div class="row row--center">
                <div class="col-lg-6 col-md-8 u-s-m-b-30">
                    <div class="l-f-o">
                        <div class="l-f-o__pad-box">

                            <span dir="rtl" class="gl-text u-s-m-b-30">ایمیل تغییر پسوورد با موفقیت ارسال شد
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}